body{
  /* display: flex; */
  justify-content: center;
}


.app{
  /* height: 90vh; */
  /* width: 100vw; */
  height: fit-content;
  width: fit-content;
  /* display: flex; */
  justify-content: center;
}

.map{
  margin: 5vw;
  width: 800px;
  height: 500px;
}

.marker{
  background-image: url("../Assets/map-pin-solid.svg");
  width: 14px;
  height: 22px;
}

.destination-marker{
  background-image: url("../Assets/map-pin-solid.svg");
  width: 14px;
  height: 22px;
}
