body{
  /* display: flex; */
  justify-content: center;
}


.app{
  /* height: 90vh; */
  /* width: 100vw; */
  height: fit-content;
  width: fit-content;
  /* display: flex; */
  justify-content: center;
}

.map{
  margin: 5vw;
  width: 950px;
  height: 600px;
}

.marker{
  background-image: url("../Assets/map-pin-solid.svg");
  width: 14px;
  height: 22px;
}

.destination-marker{
  background-image: url("../Assets/map-pin-solid.svg");
  width: 14px;
  height: 22px;
}

.tt-search-box-input-container{
  width: 55vw;
}

.map-container{
}